<html>

<body>
    <h1>Welcome, {{ .Name }}!</h1>
    <p>Your account on <i>The Sun sets 194 times</i> has been successfully created. You can continue the signing up process by going to this link:</p>
    <p>
        <a href="{{ .Host}}/entrypoints/{{ .Entrypoint}}">Your welcome gesture point</a>
    </p>
    <p>Cheers,<br /></p>
</body>

</html>