<html>

<body>
    <h1>Dear, {{ .Name }}!</h1>
    <p>I hope you’ve been well and finding ways to practice your wild side with curiosity and joy!</p>
    <p>This is your prompt #{{ .Index }}</p>
    <p><i>Please follow the instructions rigorously; your experience here is determined by the value you give to your
            actions. And don’t forget to play!</i></p>
    <p><b>{{ .Body }}</b></p>
    <p>
        You will hear again from me soon...<br />
        Bye for now!<br />
        M.
    </p>
    <p>
        <a href="https://joiningsuns.online">joiningsuns.online</a>
    </p>
</body>

</html>