<html>

<body>
    <h1>Dear {{ .Name }},</h1>
    <p>Thank you for joining our Rewilding Correspondence.<br />
        I am happy you decided to take this time for yourself! It’s meant as a space for you to reflect, connect and
        engage with yourself and your surroundings, hopefully in surprising ways.<br />
        This is an open creative process, that fosters impulsive expressivity and play, and aims to lead you to reflect
        on things that matter to you and access a pre-existing, organic connection between your body, mind, and
        emotions.<br />
        I advise you to trust your intuition and give the rational part of your brain a break. It’s a difficult task,
        but it’s liberating to not take ourselves too seriously from time to time.<br />
        You have chosen the weekly version, so you will be receiving a prompt every Friday.<br />
        I wish you a pleasant journey and hope you will find joy in unexpected places.</p>

    <p>As a start, this is prompt #1</p>

    <p><i>Please follow the instructions rigorously; your experience here is determined by the value you give to your
            actions. And don’t forget to play!</i></p>
    <p>
       <b>{{ .Body }}</b>
    </p>
    <p>
        You will hear again from me soon...<br />
        Bye for now!<br/>
        M.
    </p>
    <p>
        <a href="https://joiningsuns.online">joiningsuns.online</a>
    </p>
</body>

</html>